@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    font-family: "PT Sans", "sans-serif";
    font-size: 16px;
    max-width: 1300px;
    margin: 0 auto;
}

.navigation {
    padding: 10px 0 72px 20px;
}

.navigation p {
    display: inline-block;
    font-size: 22px;
    float: left;
}

.navigation p span {
    color: #50b9e1;
}

nav {
    display: inline-block;
    float: right;
}

li {
    display: inline-block;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #5a7c8a;
}

nav i {
    border: 1px solid #5a7c8a;
    border-radius: 50%;
    padding: 5px;
}

body > header > section > nav > ul > li:nth-child(5) {
    padding-right: 5px;
}

ul {
    padding: 0;
}

a:hover {
    color: #50b9e1;
    cursor: pointer;
}
nav i:hover {
    border: 1px solid #50b9e1;
    border-radius: 50%;
    padding: 5px;
}
/*site header*/

.site-header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("Requirements-and-Resources/Images/kids_main.jpg") no-repeat;
    background-size: cover;
}

.site-header h1 {
    font-size: 66px;
    color: white;
    width: 38%;
    margin: 0;
    padding: 300px 0 80px 99px;
}

.site-header button {
    color: white;
    font-size: 26px;
    background: transparent;
    border: 2px solid white;
    padding: 10px 15px;
    margin: 0 0 100px 100px;
}

.site-header button:hover {
    background: #50b9e1;
    border: 2px solid #50b9e1;
    cursor: pointer;
}

main section h2 {
    font-family: "PT Serif", serif;
    font-size: 32px;
    font-style: italic;
    letter-spacing: 2px;
    text-align: center;
}

.first-section {
    color: #5a7c8a;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 10px 0 0 0;
}

.first-section a {
    color: #50b9e1;
}

.second-section {
    background: #50b9e1;
    color: white;
    margin: 42px 0;
    padding: 28px 0;
    font-family: "PT Serif", serif;
}

.second-section ul {
    padding: 20px 0 0 70px;
}

.second-section ul li {
    display: inline-block;
    text-align: center;
    width: 25%;
    padding: 17px 35px
}

.second-section ul li img {
    width: 20%;
}

.third-section {
    color: #5a7c8a;
    margin: 0 -25px 0 0;

}

#upcoming-text {
    width: 50%;
    text-align: center;
    margin: 35px 330px;
}

.third-section img {
    height: 250px;
    width: 411px;
}

.third-section ul li {
    width: 31%;
    padding: 0 30px 0 0;
}

.info {
    border-bottom: solid;
    padding: 0 0 13px 0;
}

.info div {
    display: inline-block;
}

.info div h3 {
    margin: 0;
}

.info div p {
    margin: 0;
}

#offers > li > section.info > div:nth-child(2) {
    background: #50b9e1;
    font-size: 39px;
    float: right;
    color: white;
}

.more-info button {
    color: #50b9e1;
    font-size: 16px;
    background: transparent;
    border: 2px solid #50b9e1;
    padding: 10px 15px;

}

.more-info button:hover {
    color: white;
    background: #50b9e1;
    border: 2px solid #50b9e1;
    cursor: pointer;
}

footer {
    background: #43bae3;
    font-size: 16px;
    color: #5a7c8a;

}

footer h4 {
    display: inline-block;
    padding: 0 0 0 170px;
}

footer ul {
    display: inline-block;
    float: right;
}

footer i {
    color: #5a7c8a;
    border: 1px solid #5a7c8a;
    border-radius: 50%;
    padding: 5px;
}

footer i:hover {
    color: white;
    border: 1px solid white;
}